<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Bundle</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@100&display=swap" rel="stylesheet">  
  <script src="/script/singleProduct.js"></script>
</head>

<body>
  <div class="container">
    <div class="products-container">
      <!-- Left Column / Product Image -->
      <div class="left-column">
        <img class="product-image" src="" alt="">
      </div>

      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <h1 class="product-name"></h1>
          <p></p>
        </div>
        <!-- Product Pricing -->
        <div class="product-price">
          <span></span>
          <a href="#" class="cart-btn">Add to cart</a>
        </div>
      </div>
    </div>
    <div class="recommendations-container">
      <p class="product-recommendations-title">Other Product Recommendations</p>
      <div class="recommendations">
      </div>  
    </div>
    <div>
      <a href="http://localhost:3000/products">Back to products</a>
    </div>
    
  </div>


</body>

</html>